---
title: Home
---

<h2>Maintainers + Contributors + You!</h2>

<p class="lead" >
  We hope everyone is staying safe in this globally unique time. 
</p>
<p class="lead" >
  Cloud native open source projects, SIGs, and working groups are core to many of our jobs. As we adjust to working from home and regaining productivity, a group of us figured it makes sense to convene on the interwebs to knowledge share.
  Using a hallway track format, experts from the community will come together to update each other on the latest cloud native technologies, updates on CNCF projects, and hands on technical sharing. 
</p>
    <p class="lead" >
      This event is envisioned, created, and executed by the community. Come join us!
    </p>
</p>
<p class="lead">
    <ul>
        <li>Updates from all graduated CNCF projects - Kubernetes, Prometheus, Envoy, Jaeger, Fluentd, Containerd, CoreDNS, TUF</li>
        <li>A conversation between the key SIG and WG contributors</li>
        <li>An update from CNCF on the upcoming cloud native technology</li>
        <li>Some happy gifs, jokes, and tips on remote work</li>
    </ul>

</p>

<div id="featured-speakers" style="margin-top: 50px;">

  <h3>Speakers</h3>
  <hr>
  <div>
      <div class="row">
        <%= speakers() %>
      </div>
  </div>
</div>
