<!doctype html>
<html lang="en">
  <head>
      
    <title><%= @item[:title] %> - Cloud Native Summit Online</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="https://kubernetes.io/images/favicon.png">
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://cloudnativesummit.online/images/og-card.png">
    
    <meta property="og:title" content="Cloud Native Summit Online" />
    <meta property="og:type" content="image/png" />
    <meta property="og:url" content="https://cloudnativesummit.online/" />
    <meta property="og:image" content="https://cloudnativesummit.online/images/og-card.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SocialIcons/1.0.1/soc.min.css">


    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div class="container">
        <!-- NAV -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-10 mb-10">
            <a class="navbar-brand" href="/" style="font-weight: bolder;">
                Cloud Native Summit Online 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav ">
                  <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <!--
                  <li class="nav-item">
                  <a class="nav-link" href="/speakers">Speakers</a>
                  </li>
                  -->
                  <li class="nav-item">
                  <a class="nav-link" href="/schedule">Schedule</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/codeofconduct">Code of Conduct</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/supportus">Support Us</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/thanks">Thanks</a>
                    </li>
              </ul>
            </div>
        </nav>

        <!-- HERO -->
        <div class="jumbotron">
            <h1 class="display-4"><strong>#CloudNativeSummit</strong></h1>
            <h3>Tuesday, April 7 : 6a - 2p PT / 9a - 5p ET / 3p - 11p CET</h3>
            <p class="mt-3">
              <button type="button" class="btn btn-primary btn-lg" id="register-btn">
                Register Today!
              </button>
            </p>
        </div>

        <!-- CONTENT -->
        <div class="row">
          <div class="col-12 text-center">
            <img src="/images/cncf-logos.png" alt="CNCF graduated projects">
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <%= yield %>
          </div>
        </div>   

        <div class="row"> <!-- ORGANIZERS -->
          <div class="col-12">
            <div class="card mt-5">
              <div class="card-header">
                <h3>Organizers</h3>
              </div>
              <div class="card-body">
                <div class="row pt-3 pb-2">
                  <%= supporters(true) %>    
                </div>
              </div>
            </div><!--/ CARDS -->
          </div> 
        </div><!--/ ORGANIZERS -->
        
        <div class="row"> <!-- SUPPORTERS -->
          <div class="col-12">
              <div class="card pt-3 pb-2">
                <div class="card-header">
                  <h3>Supporters</h3>
                </div>
                <div class="card-body">
                  <div class="row mt-5 mb-5">
                    <%= supporters %>
                  </div>    
                </div>
            </div><!--/ CARDS -->
          </div>
      
        </div>  <!--/ SUPPORTERS -->

        <footer class="text-center mt-5">
            <hr>
            &copy; 2020 | Edit this <a href="https://gitlab.com/abuango/cloudnativesummit/">site</a> — open <a href="https://gitlab.com/-/ide/project/abuango/cloudnativesummit/">Web IDE</a> — please <a href="https://gitlab.com/abuango/cloudnativesummit/-/blob/master/README.md">contribute.</a>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/SocialIcons/1.0.1/soc.min.js"></script>

        <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
        

        <script type="text/javascript">
          $( document ).ready(function() {

            $("#register-btn").click(function(e){
              e.preventDefault();
              window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"848cc45d817350d2428723ae7","lid":"0df5aee045","uniqueMethods":true}) })
              document.cookie = "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            });
            
          
          });
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161464059-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-161464059-1');
        </script>


    </div>
  </body>
</html>
